<p id="notice"><%= notice %></p>

<h1>
  <%= @user.username %>
</h1>

<p>
  Ratings: <%= @user.ratings.count %>
</p>
<p>
  Average rating: <%= @user.average_rating %>
</p>

<% unless @user.favorite_style.nil? %>
    <p>
      Favorite style: <%= @user.favorite_style %>
    </p>
<% end %>

<% unless @user.favorite_brewery.nil? %>
    <p>
      Favorite Brewery: <%= @user.favorite_brewery %>
    </p>
<% end %>

<p>
  <% if @user.beer_clubs.empty? %>
      Not a member of any club.
  <% else %>
      Member of
  <% end %>


  <% @user.beer_clubs.each do |beerClub| %>
      <%= link_to "#{beerClub.name}", beer_club_path(beerClub) %>
  <% end %>
</p>

<ul>
  <% @user.ratings.each do |rating| %>
      <li><%= rating %>
        <% if @user == current_user %>
            <%= link_to "delete", rating, method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </li>
  <% end %>
</ul>


<% if @user == current_user %>
    <%= link_to 'Edit', edit_user_path(@user) %>
    <%= link_to 'Destroy', @user, method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>
|
<%= link_to 'Back', users_path %>
